
.eachCartDiv {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; 
    width: 72%;
    margin: 0 auto;
    margin-top: 30px;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.cartImageIncreaseDecreseDiv {
    text-align: center;
}

button.decreaseBtn:disabled {
    opacity: 0.9;
    cursor: auto;
}

.cartDiv {
    min-height: calc(81vh);
}

.noProductsDiv {
    font-size: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding-top: 40vh;
}


.headerBtns {
    text-align: center;
}

.cartImage {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.eachProductQuantity {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
}

.proceedToCheckoutBtn {
    background-color: #81bd21;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    min-width: 200px;
    max-width: 200px; 
}

.proceedToCheckoutBtn:active {
    background-color: #72a323;

}

.proceedToCheckoutBtn1:active {
    background-color: #d68f1c;
}

.proceedToCheckoutBtn1 {
    background-color: #ff9f00;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    min-width: 100px;
    max-width: 100px; 

}

.removeBtn:active {
    background-color: #ce1818;
}
.removeBtn {
    background-color: #e00303;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin-right: 20px;
    min-width: 70px;
    max-width: 70px;
}

.increaseBtn {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}

.decreaseBtn {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;

}