.form-login-btn {
    background-color: #578ef5;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 70px;
    max-width: 70px; 
    
    
}
.form-submit-btn {
    background-color: #21af57;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin-top: 10px;
    margin-bottom: 20px;
    min-width: 70px;
    max-width: 70px; 
    margin-left: 10px;
    
}

.form-submit-btn:hover {
  
  /* box-shadow: 0px 4px 4px #21af57; */
  /* border-radius: 50%; */
}

.form-login-btn:hover {
  /* box-shadow: 0px 1px 1px #578ef5; */
  /* border-radius: 50%; */
}



.form-submit-btn:active {
  background-color: #498a13;
}

.form-login-btn:active {
  background-color: #123f91;
}

.loginHeader {
    text-align: center;
    font-size: 20px;
}
.loginError {
    text-align: center;
}
.error-span{
  color: red;
}

.star {
  color: red;
}

.emailId-label {
  margin-right: 1px;
}
.userName-label {
  margin-right: 15px;
}
.password-label {
  margin-right: 20px;
}
.form-data {
  text-align: center;
}

.signInHeader{
  text-align: center;
}

.emailId-input {
  width: 200px;
  padding: 6px;
  margin-left: 26px;
  
}

.signupHorizontalLine {
  width: 85%;
}

.name-input {
  width: 200px;
  /* margin-bottom: 5px;
  margin-top: 5px; */
  padding: 6px;

}

.password-input {
  width: 200px;
  /* margin-bottom: 5px;
  margin-top: 5px; */
  padding: 6px;
}

