.NavBar2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    line-height: 40px;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
}

.NavBar2 div {
    color:rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .NavBar2 div:hover{
    color:rgb(16, 114, 212);
  }

