.orderProductImage {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.orderDiv {
    margin-left: 40px;
    margin-right: 40px;
    min-height: calc(79vh);
}

.amountOrderDateDiv {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}