.popup{
    background-color: rgba(50,50,50,.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-inner{
    
    min-width: 370px;
    max-width: 370px;
    /* min-height: 520px;
    max-height: 520px; */
    background-color:white;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
  }
  .popup-inner .close-button{
    position: relative;
    z-index: 1;
  }

  .companyLogo1 {
     min-width: 65px;
     max-width: 65px;
     font-size: 16px;
     

  }

  .popupLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .horizontalPopupLine {
    width: 85%;
  }
  
  .close-button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    margin-left: 230px;
    
  }

  .X {
    font-size: 18px;
    cursor: pointer;
  }

  .close-button:active {
    background-color: #777171;
  }