.addToCartBtn {
    background-color: #578ef5;
    color: #fff;
    font-size: 16px;
    line-height: 2; 
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100px;
    max-width: 100px; 
}