.SearchBar {
    background-color: #fff;
    height: 39px;
    width: auto;
    border-radius: 3px;
    display: flex;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);

  }
  
  
  .SearchInput {
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    margin: 3px 5px 5px 5px;
    font-size: 15px;
    border: none;
  }
  
  .SearchIcon {
    height: 30px;
    width: 30px;
  }
  
  .SearchIcon:hover {
    cursor: pointer;
  }
  
  .SearchIconWrapper {
    height: 30px;
    min-width: 40px;
    max-width: 40px;
  
  }